:root {
    --main-color: #CEEDEF
}

.border-transparent {
    border: 2px solid transparent;
}

.btn-hover:hover {
    background-color: #f2f5f7 !important;
    border-bottom: 2px solid var(--main-color) !important;
}

.showcase {
    background-color: #f3f3f3;
}

.slogan > h1 {
    font-size: 4rem;
}

.slogan > p {
    font-size: 1.4rem;
}

.toggle-btn {
    font-size: 1.5rem;
    align-items: center;
}

.toggle-btn:focus {
    outline: none;
}

.toggle-btn:hover {
    color: var(--main-color);
}

.error-message {
    color: red;
    
}

.vertical-center {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}